# coding:utf-8

PER_PAGE = 10 # 取得する記事数です。上限値:100
DESCRIPTION_LIMIT = 200 # キャプションの文字数制限です。
HOST_URL = 'https://www.hogehoge.net' # URLの最後のスラッシュ[/]は含めないでください。
STATIC_FOLDER = 'html/static' # static ファイルの設置ディレクトリを指定してください。
TEMPLATE_FOLDER = 'html/templates' # static ファイルの設置ディレクトリを指定してください。
HTML_FILEPATH = 'wp-list.html' # レンダリングさせたいHTMLファイル名を入力してください。 * html/templates は省略
FAVICON_FILE = 'img/favicon.ico' # faviconとして設定したいファイルを入力してください。 * html/static/ 以降を入力してください。
